@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
img {
  border: 0;
  vertical-align: middle;
}
html {
  font-size: 16px;
}
.first {
  width: 100vw;
  height: 100vh;
  display: flex;
}
/* 사이드바 */
.sidebar {
  width: 250px;
  min-width: 200px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  display: flex;
  flex-direction: column;
  color: white;
  z-index: 9999;
}
.navi {
  width: 100%;
  height: auto;
  padding: 20px;
}
.navi-list {
  display: flex;
  flex-direction: column;
}
.navi-list li {
  margin: 20px 0;
  font-size: 20px;
}
.info {
  position: absolute;
  bottom: 50px;
  left: 20px;
}

/* 메인화면 */
.main {
  width: 100%;
  height: 100%;
  padding-left: 250px;
  background-color: yellowgreen;
  position: relative;
  display: block;
}
.photo {
  width: 500px;
  height: 100%;
  background-color: violet;
}