@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
img {
  border: 0;
  vertical-align: middle;
}
html {
  font-size: 16px;
}
.wrapper {
  display: block;
  position: relative;
}
button {
  cursor: pointer;
}
/* 상단 고정 메뉴 */
.anchor {
  position: fixed;
  width: 300px;
  height: 40px;
  font-size: 20px;
  top: 20px;
  right: 100px;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  outline: 0;
}

/* 첫화면 */
.first {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow-x: hidden;
  position: relative;
}

/* 메인화면 */
.main {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  background-color: #234793;
  color: white;
}
.photo {
  width: 647px;
  height: 100%;
  background: url("../images/1.jpg") no-repeat center;
  background-size: contain;
  filter: brightness(0.7);
}
.main-detail {
  width: calc(100% - 647px);
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
}
.info {
  position: absolute;
  bottom: 30px;
  left: 50px;
  z-index: 9999;
  color: white;
}
.info p {
  margin-bottom: 20px;
}
.main-detail-title {
  text-align: center;
  margin-bottom: 100px;
}
.main-detail-title p {
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 10px;
}
.main-detail-title p span {
  font-size: 60px;
  border-bottom: 5px solid yellow;
}
.main-detail-info p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

/* 두번째 */
.second {
  width: 100%;
  height: 100vh;
  background-color: #234793;
}
.second p {
  margin-bottom: 10px;
}
.green {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 17vh;
}
.green-photo {
  width: 300px;
  height: 300px;
  background: url("../images/greenlogo.svg") no-repeat center;
  background-size: contain;
}
.green-info {
  margin-left: 30px;
  width: 800px;
  height: 300px;
  padding: 30px;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.education {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 7vh;
}
.education-photo {
  width: 300px;
  height: 300px;
  background: url("../images/qwer.png") no-repeat center;
  background-size: contain;
}
.education-info {
  margin-left: 30px;
  width: 800px;
  height: 300px;
  padding: 30px;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* 세번쨰 */
.portfolio {
  width: 100%;
  height: 100vh;
  background-color: #234793;
  display: flex;
}
.pf-box {
  width: 400px;
  height: 650px;
  margin: 0 auto;
  margin-top: 10%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.pf-box-photo {
  background-color: #fff;
  width: 100%;
  height: 300px;
}
/* swiper */
.mySwiper1,
.mySwiper2,
.mySwiper3,
.mySwiper4 {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  height: 100%;
}
.first1 {
  background: url("../images/first1.png") no-repeat center;
  background-size: contain;
}
.first2 {
  background: url("../images/first2.png") no-repeat center;
  background-size: contain;
}
.first3 {
  background: url("../images/first3.png") no-repeat center;
  background-size: contain;
}
.first4 {
  background: url("../images/first4.png") no-repeat center;
  background-size: contain;
}
.first5 {
  background: url("../images/first5.png") no-repeat center;
  background-size: contain;
}
.hyft1 {
  background: url("../images/hyft1.png") no-repeat center;
  background-size: contain;
}
.hyft2 {
  background: url("../images/hyft2.png") no-repeat center;
  background-size: contain;
}
.hyft3 {
  background: url("../images/hyft3.png") no-repeat center;
  background-size: contain;
}
.hyft4 {
  background: url("../images/hyft4.png") no-repeat center;
  background-size: contain;
}
.hyft5 {
  background: url("../images/hyft5.png") no-repeat center;
  background-size: contain;
}
.design1 {
  background: url("../images/logo1.jpg") no-repeat center;
  background-size: contain;
}
.design2 {
  background: url("../images/logo2.jpg") no-repeat center;
  background-size: contain;
}
.design3 {
  background: url("../images/resite.png") no-repeat center;
  background-size: contain;
}
.ect1 {
  background: url("../images/dosiraktong.png") no-repeat center;
  background-size: contain;
}
.ect2 {
  background: url("../images/weather.png") no-repeat center;
  background-size: contain;
}
.pf-box-info {
  background-color: #eee;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  padding-top: 0px;
}
.pf-box-info h1 {
  font-weight: bold;
  font-size: 28px;
  margin: 20px;
}
.pf-box-info p {
  margin-bottom: 10px;
}
.desgin-info h1 {
  margin-bottom: 40px;
}
.desgin-info p {
  margin-bottom: 20px;
}
.pf-box-info-detail {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.pf-box-btn {
  background-color: #eee;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 20px;
}
.btn2 {
  justify-content: space-around;
}
.pf-box-btn button {
  padding: 7px 15px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #222;
  border: 0;
  outline: 0;
}

