@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
img {
  border: 0;
  vertical-align: middle;
}
body {
  word-break: keep-all;
  color: #333;
  background-color: #eee;
}

/* 탑바 */
.topbar {
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 9999;
  background-color: #333;
}
.gnb {
  width: 1440px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: white;
}
@media (max-width: 1440px) {
  .gnb {
    width: 100%;
    padding: 0 50px;
  }
}
.gnb > ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.gnb > ul a {
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.gnb > ul a i {
  font-size: 30px;
}
/* 탑바 끝 */
.wrap {
  display: block;
  position: relative;
  width: 1440px;
  height: auto;
  margin: 0 auto;
}

/* 메인 */
.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}
.main-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
/* 왼쪽 */
.main-left {
  width: 45%;
  height: 100%;
}
.main-left-info {
  width: 500px;
  height: auto;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main-left-info-photo {
  width: 300px;
  height: 340px;
  margin: 0 auto 30px;
  background: url("../images/myphoto.png") no-repeat center;
  background-size: contain;
}
.main-left-info-intro {
  width: 100%;
  height: auto;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main-left-info-intro h1 {
  font-size: 30px;
}
.main-left-info-intro p {
  font-size: 18px;
  font-weight: 700;
}
.main-left-info-detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 100px;
}
.main-left-info-detail > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.main-left-info-detail > li > i {
  font-size: 20px;
  padding-top: 5px;
}
.main-left-info-detail > li > h2 {
  font-size: 20px;
}
/* 오른쪽 */
.main-right {
  width: 55%;
  height: 100%;
}
.main-right-personal {
  width: 700px;
  height: auto;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
}
.main-right-personal-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
  padding: 10px;
}
.main-right-personal-box > li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}
.main-right-personal-box .skills {
  display: block;
}
.skills img {
  height: 80px;
  margin: 10px;
}
.skills .toobig {
  height: 70px;
}
.skills .toobig2 {
  height: 50px;
}
@media (max-width: 1440px) {
  .wrap {
    width: 100%;
  }
  .main-left {
    width: 40%;
  }
  .main-left-info {
    width: 100%;
  }
  .main-left-info-intro {
    padding: 0;
    margin: 0 auto;
    text-align: center;
  }
  .main-left-info-detail {
    padding: 0;
    margin: 0 auto;
    text-align: center;
  }
  .main-left-info-photo {
    width: 210px;
    height: 280px;
  }
  .main-right {
    width: 60%;
  }
  .main-right-personal {
    width: 100%;
  }
  .main-right-personal-box > li {
    margin-right: 20px;
  }
  .skills img {
    height: 70px;
    margin: 5px;
  }
  .skills .toobig {
    height: 60px;
  }
}
/* 포폴 */
.team {
  width: 100%;
  height: 100vh;
  padding-top: 80px;
  display: block;
  position: relative;
}
.teamwrap {
  width: 1280px;
  /* height: auto; */
  height: 500px;
  margin: 10% auto 0;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1440px) {
  .teamwrap {
    width: 90%;
  }
}
.team-title h1 {
  font-size: 30px;
  margin-bottom: 30px;
}
.team-choice {
  display: flex;
  gap: 10px;
}
.team-choice > li {
  padding: 10px 20px;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 15px 15px 0 0;
  box-shadow: inset 0px -2px 6px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.team-choice > li.active {
  box-shadow: none;
  background-color: white;
  color: black;
}
.team-detail {
  width: 100%;
  height: 100%;
}
.team-detail-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.team-detail-list.active {
  display: none;
}
.team-detail-list-left {
  width: 500px;
  height: 100%;
  background-color: white;
  position: relative;
}
.team-detail-list-left img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.team-detail-list-right {
  width: calc(100% - 500px);
  height: 100%;
  background-color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.team-detail-list-right li {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.team-detail-list-right-btn {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}
.team-detail-list-right-btn > a {
  color: white;
  padding: 10px 20px;
  background-color: red;
  border-radius: 10px;
  font-weight: bold;
}
/* 솔로 */
.solo {
  width: 100%;
  height: 100vh;
  padding-top: 80px;
  display: block;
  position: relative;
}
.solowrap {
  width: 1280px;
  /* height: auto; */
  height: 500px;
  margin: 10% auto 0;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1440px) {
  .solowrap {
    width: 90%;
  }
}
.solo-title h1 {
  font-size: 30px;
  margin-bottom: 30px;
}
.solo-choice {
  display: flex;
  gap: 10px;
}
.solo-choice > li {
  padding: 10px 20px;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 15px 15px 0 0;
  box-shadow: inset 0px -2px 6px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.solo-choice > li.active {
  box-shadow: none;
  background-color: white;
  color: black;
}
.solo-detail {
  width: 100%;
  height: 100%;
}
.solo-detail-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.solo-detail-list.active {
  display: none;
}
.solo-detail-list-left {
  width: 500px;
  height: 100%;
  background-color: white;
  position: relative;
}
.solo-detail-list-left img {
  position: absolute;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.solo-detail-list-right {
  width: calc(100% - 500px);
  height: 100%;
  background-color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.solo-detail-list-right li {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.solo-detail-list-right-btn {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 30px;

}
.solo-detail-list-right-btn > a,
.solo-detail-list-right-btn > div {
  color: white;
  padding: 10px 20px;
  background-color: red;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

/* 모달창 */
.modal {
  position: fixed;
  width: 1280px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #eee;
  z-index: 9999;
  overflow: auto;
}
.modal.active {
  display: none;
}
.modal-x {
  position: sticky;
  top: 20px;
  padding-right: 20px;
  text-align: right;
}
.modal-x > i {
  font-size: 50px;
}
.modal-img {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
